.container {
  background-color: #152850;
  width: 60%;
  height: 100vh;
  color: white;
}

.logo-con {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.button-styling {
  border: 1px solid #ffffff;
  color: white;
  background-color: transparent;
  width: 60px;
  height: 25px;
}
